<div class="container">
  <h2>Your Meal Plan for {{daysPlan.length}} Days</h2>
  <table class="nutrition-table">
    {{#each daysPlan}}
    <thead>
      <th colspan="8">{{day}}</th>
    </thead>
    <tr>
      <tr>
        <th>Type</th>
        <th>Meal Option</th>
        <th>Description</th>
        <th>Restaurant</th>
        <th>Calories</th>
        <th>Carbs (g)</th>
        <th>Fat (g)</th>
        <th>Protein (g)</th>
      </tr>
    </tr>
    {{#each meals}}
    <tr>
      <td>{{type}}</td>
      <td><a href="{{link}}" style="font-weight: bold;">{{item}}</a></td>
      <td>{{description}}</td>
      <td>{{restaurant}}</td>
      <td>{{calories}}</td>
      <td>{{carbs}}</td>
      <td>{{fat}}</td>
      <td>{{protein}}</td>
      <td class="reload-column">
        <a href="#" onclick="reloadMeal('{{@../day}}', '{{type}}');">
          <img src="/images/reload-arrow.jpg" alt="reload-arrow" style="width: 25px; height: auto">
        </a>
      </td>
    </tr>
    {{/each}}
    {{/each}}
  </table>
  <button class="accept-meal-plan-btn">Accept Meal Plan</button>
</div>
