<div class="container">
    <h2>Ready to Choose Your Meal?</h2>
    <table class="nutrition-table">
        <thead>
            <tr>
                <th>Meal Option</th>
                <th>Restaurant</th>
                <th>Calories</th>
                <th>Carbs (g)</th>
                <th>Fat (g)</th>
                <th>Protein (g)</th>
            </tr>
        </thead>
        <tbody>
            {{#each meals}}
            <tr>
                <td><a href="{{link}}">{{item}}</a></td>
                <td>{{restaurant}}</td>
                <td>{{calories}}</td>
                <td>{{carbs}}</td>
                <td>{{fat}}</td>
                <td>{{protein}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Click on one of the meals, or ask for 3 new meals.</p>
    <a href="/meal-feeling-hungry" style="text-decoration: none; color: inherit">
        <img src="/images/reload-arrow.jpg" alt="reload-arrow" style="width: 35px; height: auto">
    </a>
</div>
