<div class="container">
      <h2>Your Weekly Meal Plan</h2>
      <table class="nutrition-table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Meal Option</th>
            <th>Restaurants</th>
            <th>Calories</th>
            <th>Carbs g</th>
            <th>Fat g</th>
            <th>Protein g</th>
            <th>Refresh Option</th>
          </tr>
        </thead>
        <tbody>
          <!-- Day 1 -->
          <tr>
            <td>Monday</td>
            <td><a href="#">{{meal1_name}}</a></td>
            <td>{{meal1_restaurant}}</td>
            <td>{{meal1_calories}}</td>
            <td>{{meal1_carbs}}</td>
            <td>{{meal1_fat}}</td>
            <td>{{meal1_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 2 -->
          <tr>
            <td>Tuesday</td>
            <td><a href="#">{{meal2_name}}</a></td>
            <td>{{meal2_restaurant}}</td>
            <td>{{meal2_calories}}</td>
            <td>{{meal2_carbs}}</td>
            <td>{{meal2_fat}}</td>
            <td>{{meal2_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 3 -->
          <tr>
            <td>Wednesday</td>
            <td><a href="#">{{meal3_name}}</a></td>
            <td>{{meal3_restaurant}}</td>
            <td>{{meal3_calories}}</td>
            <td>{{meal3_carbs}}</td>
            <td>{{meal3_fat}}</td>
            <td>{{meal3_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 4 -->
          <tr>
            <td>Thursday</td>
            <td><a href="#">{{meal4_name}}</a></td>
            <td>{{meal4_restaurant}}</td>
            <td>{{meal4_calories}}</td>
            <td>{{meal4_carbs}}</td>
            <td>{{meal4_fat}}</td>
            <td>{{meal4_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 5 -->
          <tr>
            <td>Friday</td>
            <td><a href="#">{{meal5_name}}</a></td>
            <td>{{meal5_restaurant}}</td>
            <td>{{meal5_calories}}</td>
            <td>{{meal5_carbs}}</td>
            <td>{{meal5_fat}}</td>
            <td>{{meal5_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 6 -->
          <tr>
            <td>Saturday</td>
            <td><a href="#">{{meal6_name}}</a></td>
            <td>{{meal6_restaurant}}</td>
            <td>{{meal6_calories}}</td>
            <td>{{meal6_carbs}}</td>
            <td>{{meal6_fat}}</td>
            <td>{{meal6_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
          <!-- Day 7 -->
          <tr>
            <td>Sunday</td>
            <td><a href="#">{{meal7_name}}</a></td>
            <td>{{meal7_restaurant}}</td>
            <td>{{meal7_calories}}</td>
            <td>{{meal7_carbs}}</td>
            <td>{{meal7_fat}}</td>
            <td>{{meal7_protein}}</td>
            <td class="reload-column">
              <a href="#">
                <img
                  src="/images/reload-arrow.jpg"
                  alt="reload-arrow"
                  style="width: 25px; height: auto"
                />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        Click on the meals to see more information, or click on the reload
        button to ask for new meals for any day.
      </p>

      <button class="accept-meal-plan-btn">Accept Meal Plan</button>
    </div>