<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{#if style}}
    <link rel="stylesheet" href="{{style}}">
    {{/if}}
    <title>Abu Dhabi Eats</title>
</head>
<body>
    {{#if landingHeader}}
        <header> 
                <a href="/" class="logo" >Abu Dhabi Eats</a> 
                <a href="/login" class="user-login-icon"> <img src="/images/user_icon.png" alt="Login"></a>
        </header>
    {{else}}
        {{#if extendedHeader}}
            <header>
                <a href="/home" class="logo" >Abu Dhabi Eats</a>
                <div class="user-info">
                    <span>Hi, {{username}}</span>
                    <a href="#">Settings</a>
                    <a href="/logout">Log Out</a>
                </div>
            </header>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/meal-plan-pre-generate">MEAL PLAN</a></li>
                    <li><a href="/reports">REPORTS</a></li>
                    <li><a href="/update-profile">PROFILE</a></li>
                    <li><a href="/ai">AI</a></li>
                </ul>
            </nav>
            <script>
                window.embeddedChatbotConfig = {
                chatbotId: "KaENkFqazV3KaQfW_tb14",
                domain: "www.chatbase.co"
                }
                </script>
                <script
                src="https://www.chatbase.co/embed.min.js"
                chatbotId="KaENkFqazV3KaQfW_tb14"
                domain="www.chatbase.co"
                defer>
            </script>
        {{else}}
            <header>
                <a href="/" class="logo">Abu Dhabi Eats</a>
            </header>
        {{/if}}
    {{/if}}
    {{{body}}}
</body>
</html>
